.App {
  text-align: center;
  font-family: inherit;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body{
  background-color:#F2F3F5;
}

.NavBar{
  display: flex;
  justify-content: space-between;
  background-color: white;
  height: 45px;
  align-items: center;
  padding: 5px;
  box-shadow: 0 4px 8px 0 rgba(158, 158, 158, 0.2), 0 6px 20px 0 rgba(159, 159, 159, 0.19);
  position: fixed;
  top: 0;
  width: 100%;
}
.Logo-icon{
  object-fit: cover;
  height: 40px;
  width: 40px;
  border-radius: 10px;
  display: block;
  margin-right: 3em;
}
.Links-div-main{
  display: flex;
  justify-content: space-around;
  width: 40%;
  height: 100%;
  margin-top:5px;
  margin-left: 10px;
}

.little-icon{
  object-fit: cover;
  height: 28px;
  width:28px;
  border-radius: 10px;
  display: block;
  margin: auto;
}
.Main-Link{
  width: 80vw;
  display: flex;
  justify-content: center;
  height: 100%;
  border-radius: 10px;
  transition: all 200ms;
  
}
.Main-Link:hover{
  background-color: #dadada93;
  
}
.Search-bar{
  font-size: medium;
  border: none;
  background-color:#e6e7e9a6;
  border-radius: 30px;
  width: 210px;
  height: 85%;
  padding-left:15px;
  padding-right:15px;
  transform: translate(-35%);
  margin-left: 10px;

}
.Search-bar:focus{
  outline: none;
}
.search-box{
  display: flex;
  height: 100%;
  width: 25vw;
  justify-content: space-between;
  margin-top:5px;
  margin-left: 10px;
}
.icons-buttons-box{
  width: 20vw;
  height: 100%;
  display: flex;
  justify-content:center ;
  margin-top:12px;
  margin-right: -20px;
}
.icon-notification-navbar:hover{
}
.icon-nav{
  object-fit: cover;
  height: 26px;
  width: 26px;
  border-radius: 10px;
  display: block;
margin-right: 1em;
background-color:#e6e7e9fa;
padding: 5px;
border-radius: 50%;
}
.icon-nav:hover{
  background-color: #cfcfcffa;
  cursor: pointer;
}
.little-search-icon{
  object-fit:contain;
  height: 15px;
  width: 15px;
  border-radius: 10px;
  display: block;
margin-right: 1em;
background-color:#00184800;
padding: 5px;
border-radius: 50%;
position: relative;
z-index: 1;
top: 40px;
}
.has-search .form-control {
  /* padding-left:1.1rem; */
}

.has-search .form-control-feedback {
  position: absolute; 
  z-index: 2;
  /* display: block; 
  /* width: 2.375rem;
  height: 2.375rem; */
  line-height: 2.375rem;
  text-align: center;
  pointer-events: none;
  color: #aaa;
}
.width-bar{
  height: 35px;
  
  padding-left: 40px;
}
@media only screen and (max-width: 1200px){
  /*Tablets [601px -> 1200px]*/
.width-bar{
 width: 50px;
 padding-left:20px;
 transform: translate(-100%);

}
.slider-box{
  margin-left:200px;
}
}

.little-searchicon{
  transform: translate(-230%,-120%);
  padding: 10px;
}
.search-bar{
  margin-left: 50px;
 
}
.highlight{
  font-size: small;
  position: absolute;
  top:120%;
  color: rgb(234, 232, 232);
  background-color: #3f3e3ee6;
  padding: 0 10px 0 10px;
  height: 30px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  
}
.Main-menu-Dropdown{
  position: fixed;
  height: 90%;
  width: 40vw;
  transform: translate(-65%,1%);
  border-radius: 10px;
  background-color: #f6f9fb;
  box-shadow: 0 4px 8px 0 rgba(39, 38, 38, 0.177), 0 6px 20px 0 rgba(56, 56, 56, 0.221);
  overflow: hidden;
  z-index: 2;
}
.spes-h{
  z-index: 2;
}
.Menu-title{
margin: 15px;
}
.create-Main-menu-section{
  display: flex;
  flex-direction: column;
  height: 78%;
  width: 35%;
  border-radius:10px;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(39, 38, 38, 0.119), 0 6px 20px 0 rgba(56, 56, 56, 0.185);
  position: absolute;
  left: 62%;
  top: 60px;
  margin-right: 15px;
  justify-content: center;
}
.Search-for-activities-div{
  flex-direction: column;
  display: flex;
  height: 120%;
  width: 58%;
  border-radius:10px;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(39, 38, 38, 0.119), 0 6px 20px 0 rgba(56, 56, 56, 0.185);
  margin-left: 15px;
}
::-webkit-scrollbar {
  width: 16px;
}

::-webkit-scrollbar-thumb {
  border: 4px solid rgba(0, 0, 0, 0);
  background-clip: padding-box;
  border-radius: 9999px;
  background-color: #AAAAAA;

}
.highilited-create-idea{
  width: 80%;
  height: 50px;
  display: flex;
  align-items: center;
  border-radius: 5px;
  margin-left: 20px;
  padding-left: 10px;

}
.highilited-create-idea:hover{
  background-color: #aaaaaa3a;
  cursor: pointer;
}
.highilited-create-idea-icon{
  object-fit: cover;
  height: 35px;
  width: 35px;
  border-radius: 10px;
  display: block;
margin-right: 1em;
background-color:#e6e7e9d3;
padding: 1px;
border-radius: 50%;
}
.inside-div-create-main-menu-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
}
hr{
  height: 0.01px;
  width:75%;;
  background-color:#d1d1d15f;
}.search-input-for-create{
  width: 300px;
  height:35px;
  border-radius: 20px;
  background-color: #ebebeb;
  border: none;
  margin: 20px;
  outline: none;
  padding: 5px;
  padding-left: 10px;
  font-size: medium;
}
.Message-menu-Dropdown{
  position: fixed;
  height: 90%;
  width: 25vw;
  transform: translate(-65%,1%);
  border-radius: 10px;
  background-color: #f6f9fb;
  box-shadow: 0 4px 8px 0 rgba(39, 38, 38, 0.177), 0 6px 20px 0 rgba(56, 56, 56, 0.221);
  overflow: scroll;
  z-index: 2;
}
  .icon-navs{
    object-fit: cover;
    height: 60px;
    width: 60px;
    border-radius: 10px;
    display: block;
  margin-right: 1em;
  background-color:#e6e7e9fa;
  
  border-radius: 50%;
  }
  .Notification-Section{
    display: flex;
    margin:10px;
    padding: 5px;
    border-radius: 8px;
  }
  .Notification-Section:hover{
    background-color: rgb(213, 212, 212);
   
  }
body{
  padding-top: 70px;
}
.slider-1{
  width: 50px;
  transition: all 1s;
  height: 6px;
  background-color: rgb(52, 46, 46);
  margin: 5px;
  border-radius: 20px;
}